In [ ]:
print("Hello world")

Hello world

In [ ]:
print("Hello 'world' world")
print('Hello "world" world')
# print('Hello 'word' world') it will through syntax error
# print("Hello "word" world") it will through syntax error

Hello 'world' world
Hello "world" world

In [ ]:
# escape sequence
print("hello \"world\" world")
print("this is for\n new line")
print("this is for\t one tab space")
print("this is for single backslash \\")
print("this is for double backslash \\\\")

hello "world" world
this is for
 new line
this is for	 one tab space
this is for single backslash \
this is for double backslash \\

In [ ]:
# output: Line A \n Line B
print("Line A \\n Line B")
print("Line A \\t Line B")
print("Line A \\t Line B")
print("this is four backslash\\\\\\\\")

Line A \n Line B
Line A \t Line B
Line A \t Line B
this is four backslash\\\\

In [ ]:
# output : \" \'
print("\\\"\\\'")
# \' - '(b)
# \\ - \(a)
# \\\' -\'

\"\'

In [ ]:
# output: this is \\ double backslash
print("this is \\\\ double backslash")
# output: this is /\/\/\/\/\ mountain
print("this is /\\/\\/\\/\\/\\ mountain")
# output: he is     awesome
print("he is \t awesome")
# output: \" \n \t \'
print("\\\" \\n  \\t \\\'")

this is \\ double backslash
this is /\/\/\/\/\ mountain
he is 	 awesome
\" \n  \t \'

In [ ]:
print(r"line A \n line B")

line A \n line B

In [ ]:
print("\U0001F602")
print("\U0001F604")
print("\U0001F618")

ðŸ˜‚
ðŸ˜„
ðŸ˜˜

In [ ]:
print(2+3*4)
print(2/4)
print(4/2)
print(4//2)
print(2//4)
print(2**3)
print(2**0.5)
print(round(2**0.5,4))
print(2**3/2*6-4*(3-4/2))
print(3%2)
print((2+3)*5/2%6)
# exponents
print(2**3**2)  # it is run right to left

14
0.5
2.0
2
0
8
1.4142135623730951
1.4142
20.0
1
0.5
512

In [ ]:
number1=2
print(number1)
number1=4
print(number1)
name="Harshit"
print(name)
name=123
print(name)
user_one_name="rohit"  #snake case writing
userOneName="Mohit" # camel case writing

2
4

In [ ]:
print("hello \"hello\'")
print("line A \nline B")
print("this is backslash \\")
print(r"hello \\n line b")
print("hello \\n line b")
print(2+3)
print(2*3)
print(2/3)
print(40//3)
print(2**3)

hello "hello'
line A
line B
this is backslash \
hello \\n line b
hello \n line b
5
6
0.6666666666666666
13

In [ ]:
first_name="Harshit"
last_name="Kumar"
full_name=first_name + " " + last_name
print(full_name)
# print(first_name + 3)   error
print(first_name + "3")  # no error
print(first_name + str(3))
print(first_name * 3)

Harshit Kumar
Harshit3
Harshit3
HarshitHarshitHarshit

In [ ]:
# user input
#  input function
name=input("type your name")
print("hello"+name)
# string
age=input("what is your age")
# 24."24"
print("your age is"+age)

In [ ]:
number_one=input("enter first number")
number_two=input("enter second number")
total=number_one+number_two
print("total is"+str(total))
# str
# 4 ---> "4"

# int
# "4" --->4

# float 
# "4" -->4.0

In [ ]:
name,age="harshit" ,"24"
print("hello" +name + "your age id " + age)
x=y=z=1
print(x+y+z)

In [ ]:
# name=input("enter your name: ")
# age=input("enter your age: ")
name,age=input("enter your name and age").split(",")
print(name)
print(age)

In [1]:
name="harshit"
age=24
print("hello {} your age is {}".format(nME,age))  #python 3
print("hello {} your age is {age + 2 } ")

NameError: ignored

In [ ]:
# num1=input("enter first number :")
# num2=input("enter second number :")
# num3=input("enter third number :")
num1,num2,num3=input("enter three numbers comma separated ").split(",")

print(f"average of three numbers :{(int(num1)+int(num2)+int(num3))//3}")